<mdb-navbar SideClass="navbar navbar-dark indigo " dir="rtl">
  <ul class="navbar-nav ml-auto nav-flex-icons text-white" style="display: contents;">
    <li class="nav-item" >
      <a style="color: white;"  [routerLink]="['']">التصنیفات</a>
    </li>
    <li><span>&nbsp;|&nbsp;</span></li>
    <li class="nav-item">
      <a class="button-effect" (click)="gotToCategory(1162)">النبی و اهل بیة</a>
    </li>
    <li><span>&nbsp;|&nbsp;</span></li>
    <li class="nav-item">
      <a class="button-effect" (click)="gotToCategory(882)">المذهب شیعي</a>
    </li>
    <li><span>&nbsp;|&nbsp;</span></li>
    <li class="nav-item">
      <a class="button-effect" (click)="gotToCategory(727)">الأسرة الشیعة</a>
    </li>
  </ul>
</mdb-navbar>
<div class="container" dir="rtl">
  <div class="row">
    <div class="col-md-12">
      <img src="assets/Images/ahadis.png" class="img-fluid z-depth-1">
    </div>
  </div>

  <div *ngFor="let category of categories_data; let indexOfCategory=index" >
    <div>
      <div class="row">
        <div class="col-8" style="text-align: right">
          <img src="assets/Images/side-category.png" class="w-10">
          {{ category.description }}
        </div>
        <div class="col-4">
          المزید
          <mdb-icon fas icon="angle-left"></mdb-icon>
        </div>
      </div>
      <div class="card" >
        <div class="card-body">
          <div id="gallery" class="carousel-caption">
            <a *ngFor="let post of post_data[indexOfCategory]">
              <img class="d-block w-25" src="{{post.guid}}" alt="image" />
              <div class="carousel-caption">
                <h5>...</h5>
                <p>...</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
