<mdb-navbar SideClass="navbar navbar-dark indigo " dir="rtl">
  <ul class="navbar-nav ml-auto nav-flex-icons text-white" style="display: contents;">
    <li class="nav-item" >
      <a >التصنیفات</a>
    </li>
    <li><span>&nbsp;|&nbsp;</span></li>
    <li class="nav-item">
      <button class="button-effect" (click)="gotToCategory(1162)">النبی و اهل بیة</button>
    </li>
    <li><span>&nbsp;|&nbsp;</span></li>
    <li class="nav-item">
      <button class="button-effect" (click)="gotToCategory(882)">المذهب شیعي</button>
    </li>
    <li><span>&nbsp;|&nbsp;</span></li>
    <li class="nav-item">
      <button class="button-effect" (click)="gotToCategory(727)">الأسرة الشیعة</button>
    </li>
  </ul>
</mdb-navbar>
<div class="container" dir="rtl">
  <div class="row">
    <div class="col-md-12">
      <img src="assets/Images/ahadis.png" class="img-fluid z-depth-1">
    </div>
  </div>
  <div class="row">
    <div class="col-6" style="text-align: right">
      asdf
    </div>
    <div class="col-6">
      asdfasfd
    </div>
  </div>
  <div id="gallery">
    <a ><img class="d-block w-25" src="assets/Images/fazael.png" alt="1 slide"></a>
    <a ><img class="d-block w-25" src="assets/Images/sirh.png" alt="1 slide"></a>
    <a ><img class="d-block w-25" src="assets/Images/asaleh.png" alt="1 slide"></a>
    <a ><img class="d-block w-25" src="assets/Images/fazael.png" alt="1 slide"></a>
    <a ><img class="d-block w-25" src="assets/Images/sirh.png" alt="1 slide"></a>
  </div>
</div>
