<mdb-navbar SideClass="navbar navbar-dark indigo " dir="rtl">
  <ul class="navbar-nav ml-auto nav-flex-icons text-white" style="display: contents;">
    <li class="nav-item" >
      <a style="color: white;" [routerLink]="['']">التصنیفات</a>
    </li>
    <li><span>&nbsp;|&nbsp;</span></li>
    <li class="nav-item">
      <button class="button-effect" (click)="gotToCategory(1162)">النبی و اهل بیة</button>
    </li>
    <li><span>&nbsp;|&nbsp;</span></li>
    <li class="nav-item">
      <button class="button-effect" (click)="gotToCategory(882)">المذهب شیعي</button>
    </li>
    <li><span>&nbsp;|&nbsp;</span></li>
    <li class="nav-item">
      <button class="button-effect" (click)="gotToCategory(727)">الأسرة الشیعة</button>
    </li>
  </ul>
</mdb-navbar>


<div class="container" dir="rtl">
  <div class="row">
    <div class="col">
      <a (click)="gotToCategory(1164)">
        <img src="assets/Images/fazael.png"  class="img-fluid z-depth-1">
      </a>
    </div>
    <div class="col">
      <a (click)="gotToCategory(748)">
        <img src="assets/Images/sirh.png"  class="img-fluid z-depth-1">
      </a>
    </div>
    <div class="col">
      <a (click)="gotToCategory(694)">
        <img src="assets/Images/asaleh.png"  class="img-fluid z-depth-1">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a>
        <img src="assets/Images/mojezat.png"  class="img-fluid z-depth-1">
      </a>
    </div>
    <div class="col">
      <a (click)="gotToCategory(1539)">
        <img src="assets/Images/menaraeshia.png"  class="img-fluid z-depth-1">
      </a>
    </div>
    <div class="col">
      <a (click)="gotToCategory(736)">
        <img src="assets/Images/atfal.png"  class="img-fluid z-depth-1">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a (click)="gotToCategory(733)">
        <img src="assets/Images/osrah.png"  class="img-fluid z-depth-1">
      </a>
    </div>
    <div class="col">
      <a (click)="gotToCategory(735)">
        <img src="assets/Images/shabab.png"  class="img-fluid z-depth-1">
      </a>
    </div>
    <div class="col">
      <a (click)="gotToCategory(6028)">
        <img src="assets/Images/forodin.png"  class="img-fluid z-depth-1">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a (click)="gotToCategory(1542)">
        <img src="assets/Images/aqaed.png"  class="img-fluid z-depth-1">
      </a>
    </div>
    <div class="col">
      <a (click)="gotToCategory(734)">
        <img src="assets/Images/hijab.png"  class="img-fluid z-depth-1">
      </a>
    </div>
    <div class="col">
      <a (click)="gotToCategory(1162)">
        <img src="assets/Images/alnabi.png"  class="img-fluid z-depth-1">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <a (click)="gotToCategory(1155)">
        <img src="assets/Images/ahadis.png" class="img-fluid z-depth-1 w-100">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <a (click)="gotToCategory(680)">
        <img src="assets/Images/zooalnabi2.png" class="img-fluid z-depth-1">
      </a>
    </div>
    <div class="col-4">
      <a (click)="gotToCategory(1553)">
        <img src="assets/Images/akhlaq.png" class="img-fluid z-depth-1">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a (click)="gotToCategory(681)">
        <img src="assets/Images/ashab.png"  class="img-fluid z-depth-1">
      </a>
    </div>
    <div class="col">
      <a (click)="gotToCategory(683)">
        <img src="assets/Images/olama.png"  class="img-fluid z-depth-1">
      </a>
    </div>
    <div class="col">
      <a (click)="gotToCategory(882)">
        <img src="assets/Images/alsahah.png"  class="img-fluid z-depth-1">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a (click)="gotToCategory(1521)">
        <img src="assets/Images/alzavaj.png"  class="img-fluid z-depth-1">
      </a>
    </div>
    <div class="col">
      <a (click)="gotToCategory(1516)">
        <img src="assets/Images/abavan.png"  class="img-fluid z-depth-1">
      </a>
    </div>
    <div class="col">
      <a (click)="gotToCategory(695)">
        <img src="assets/Images/monazerat.png"  class="img-fluid z-depth-1">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a (click)="gotToCategory(1520)">
        <img src="assets/Images/talaq.png"  class="img-fluid z-depth-1">
      </a>
    </div>
    <div class="col">
      <a (click)="gotToCategory(6049)">
        <img src="assets/Images/ziarat.png"  class="img-fluid z-depth-1">
      </a>
    </div>
    <div class="col">
      <a (click)="gotToCategory(1529)">
        <img src="assets/Images/adeeih.png"  class="img-fluid z-depth-1">
      </a>
    </div>
  </div>
</div>
